@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 5.5rem;
  line-height: 1.8;
}

*:focus-visible {
  outline: #a855f7 dashed;
  border-radius: 2px;
}

*:active {
  outline: none
}

strong {
  color: rgb(126 34 206);
  font-size: 1.125rem;
  line-height: 1.75rem;
}